body {
  
  background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(to right,
      rgba(0, 98, 230, 0.6), 
      rgba(51, 174, 255, 0.6)
    ),url("bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
}

.maincontainer{
	min-height: 50vh;
	vertical-align: center;
}

.collapse.show {
  visibility: visible;
}

.frontpage {
   background: rgba(200, 54, 54, 0)!important; 
   border-radius: 0px!important;
}

.projectbg{
	background-color: rgba(255, 255, 255, 1);
}

.bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.3em;
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}