body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  padding-top: 70px;
  
}

.maincontainer{
	min-height: 50vh;
	vertical-align: center;
}

.collapse.show {
  visibility: visible;
}

.frontpage {
   background: rgba(200, 54, 54, 0)!important; 
   border-radius: 0px!important;
}

.projectbg{
	background-color: rgba(255, 255, 255, 0.9);
}